.scroll{
  scroll-behavior: smooth;
}
.links- {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid white; */
  width: 600px;
}
.nav {
  background: transparent;
  position: fixed;
  width: 100vw;
  top: 0;
}
.down{
  background: #36393D;
  position: fixed;
  width: 100vw;
  top: 0;
}
.container-collapsed {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height:10vh;
}
.container-open {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 10vh;
  display: none;
}
li {
  font-family: 'Montserrat', sans-serif;
}
 h1 {
  font-family: 'Kaushan Script';
  color: #fed136;
  white-space: nowrap;
  font-size: 1.75em
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.menu {
  display: none;
}
.welcome {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  font-family: 'Montserrat', sans-serif ;
  width: 100vw;
  height: 80vh;
  background-position: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: auto;
}
.welcome h1{
  font-family: 'Montserrat', sans-serif ;
  font-size: 5em;
  font-weight: bold;
}
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-section h1 {
  margin-top: 10vh ;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif ;
  font-weight: 900;
  color: black;
}
.services {
  display: flex;
  width: 100vw;
  /* height: 50vh; */
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: space-evenly
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.circle {
  background: #fed136;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  display: flex;
  justify-items: center;

}
i {
  font-size: 4.5em;
  color: white;
  margin: 0;
  padding: 0;
  margin: auto
}
.services p {
  text-align: center;
  height: 100px;
  width: 300px;
  overflow: auto;
  /* border: 1px solid red */
}
.more {
  background: #fed136;
  border: none;
  height: 80px;
  width: 225px;
  border-radius: 5px; 
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
}
.portfolio {
  background: #F8F9FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.portfolio h1 {
  font-family: 'Montserrat', sans-serif ;
  font-size: 5em;
  font-weight: bold;
  color: black;
  margin: 0
}
.boxes {
  display: grid;
   grid-template-columns: auto auto auto;
}
.box {
  height: 370px;
  width: 350px;
  margin: 30px
  /* border: 1px solid red */
}
.photo {
  height: 270px;
  width: 350px;
}
.info {
  height: 100px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info h2{
  margin: 0
}
.info h4{
  /* margin: 0 */
  color: grey
}
.down h1{
  animation: scroll .5s;
  animation-fill-mode: forwards;
}
.contact {
  background: #35383C;
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/map-image.png");
  background-size: contain;
  height: 60vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}
.contact h3 {
  font-size: 3em;
  color: whitesmoke;
}
.contact h1 {
  font-size: 6em;
}
@media(max-width: 1000px) {
  .menu {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background: #fed136;
    border: none;
    height: 35px;
    width: 75px;
    font-size: 1em;
    font-weight: 900;
    border-radius:5px; 
  } 
  .nav {
    background: #35383C;
  }
  .welcome {
    font-size: .75em;
  }
  .links- {
    display: none;
  }
  .links-open{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .links-open li{
    margin: 20px 0;
  }
  nav {
    background-color: #35383C;
    z-index: 3;
  }
  .container-collapsed {
    justify-content: space-between;
    animation: close 1s;
    animation-fill-mode: forwards;
  }
  .container-open {
    justify-content: space-between;
    display: flex;
    animation: open 1s;
    animation-fill-mode: forwards;
    overflow: auto;
  }
  .container h1 {
    font-size: 1.35em;
  }
  .boxes {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media(max-width: 900px) {
  .boxes {
    display: grid;
     grid-template-columns: auto;
  }
  .services {
   flex-direction: column;
   overflow-y: visible;
  }
  .welcome h1{
    font-size: 2em;
}
.contact h1 {
  font-size: 3em;
  margin: 0
}
.welcome button {
  transform: scale(.6);
  z-index: 2;
}
.box {
  height: 370px;
  width: 350px;
  margin: 10px 0 
  /* border: 1px solid red */
}
.down h1{
  animation: scroll-small .5s;
  animation-fill-mode: forwards;
}
}
@keyframes open {
  to {
    height: 50vh;
  }
}
@keyframes scroll {
  from {
    font-size: 3em;
  }
  to {
    font-size: 1.1em;
  }
}
@keyframes scroll-small {
  from {
    font-size: 1.1em;
  }
  to {
    font-size: .8em;
  }
}